# ===============================================================
# Project: grafana
# ===============================================================

TIMEZONE=Etc/UTC
ROOT_DIR=/opt/docker/grafana

# App: grafana
# ===============================================================

GRAFANA_APP_IMAGE=docker.io/grafana/grafana-oss:11.6.0
GRAFANA_APP_CONTAINER=grafana-app
GRAFANA_APP_DOMAIN=grafana.example.com

# Configuration Cheat Sheet
# ref: https://grafana.com/docs/grafana/latest/setup-grafana/configure-grafana/

# Database: postgres
# ===============================================================

GRAFANA_POSTGRES_IMAGE=docker.io/library/postgres:16.8
GRAFANA_POSTGRES_CONTAINER=grafana-postgres

# Connection Variables
GRAFANA_POSTGRES_USER=grafana
GRAFANA_POSTGRES_PASSWORD=grafana
GRAFANA_POSTGRES_DB=grafana
