# ===============================================================
# Project: vaultwarden
# ===============================================================

TIMEZONE=Etc/UTC
ROOT_DIR=/opt/docker/vaultwarden

# App: vaultwarden
# ===============================================================

VAULTWARDEN_IMAGE=ghcr.io/dani-garcia/vaultwarden:1.33.2
VAULTWARDEN_CONTAINER=vaultwarden-app
VAULTWARDEN_DOMAIN=vaultwarden.example.com

# Registration & Invitation Configuration
VAULTWARDEN_SIGNUPS_ALLOWED=true
VAULTWARDEN_INVITATIONS_ALLOWED=false

# SMTP Configuration
VAULTWARDEN_SMTP_HOST=smtp.example.com
VAULTWARDEN_SMTP_PORT=587
VAULTWARDEN_SMTP_SECURITY=starttls
VAULTWARDEN_SMTP_FROM=notification@example.com
VAULTWARDEN_SMTP_USERNAME=username@example.com
VAULTWARDEN_SMTP_PASSWORD=password
